Source: io.elementary.settings.sharing
Section: x11
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgranite-7-dev,
               libgtk-4-dev (>= 4.10),
               libswitchboard-3-dev,
               meson,
               valac (>= 0.22)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/switchboard-plug-sharing

Package: io.elementary.settings.sharing
Architecture: any
Depends: io.elementary.bluetooth-daemon,
         rygel,
         wingpanel-indicator-bluetooth,
         ${misc:Depends},
         ${shlibs:Depends}
Enhances: io.elementary.settings
Description: Change media sharing settings
 Switchboard plug for controlling media sharing.
